.logo {
  display: flex;
  align-items: center;
  top: 0;
}

.logo h5 {
  font-size: 8px;
  color: #e6dede;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px; /* Adjust width as needed */
  /*  height: auto; Maintain aspect ratio */
  top: 0;
}

.logo-container img {
  width: 100%; /* Scale image to container width */
  /*  height: auto; Maintain aspect ratio */
  object-fit: contain; /* Ensure image is not distorted */
  top: 0;
}
