.header {
  position: fixed; /* Fix the header at the top of the screen */
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #032b2c;
  border-bottom: 2px solid #000000;
  z-index: 1000; /* Ensure the header is above other content */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h5 {
  font-size: 2px;
  color: #e6dede;
}
/* Basic Reset */
* {
  margin: 0%;
  padding: 2;
  box-sizing: border-box;
  margin-bottom: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
}

.logo-container img {
  width: 100%; /* Scale image to container width */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Ensure image is not distorted */
}
